@import "./../../App";

.button {
  display: block;
  outline: none;
  background: none;
  width: 100px;
  height: 35px;
  border-radius: 11px;
  font-weight: 700;
  font-size: 14px;
  transition: all .2s;
  border: 1px solid $color2;
  cursor: pointer;

  &:hover{
    transform: scale(1.1);
  }
}